#contact-us {
  background-color: #10316b;
  color: #fff;
  font-family: 'Kanit', sans-serif;
}

.enclosed-container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

.contact-info {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
