

section {
  position: relative;
  background-color: #10316b;
  overflow: auto;
}

.main-image {
  width: 100%;
}



.box {
  color: #fff;
  overflow: auto;
  width: 30%;
  background-color: #62374e;
  border-radius: 16px;
  padding: 15px;
  font-family: 'Kanit', sans-serif;
  line-height: 2.5em;
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 1.25vw;
}

.apply-button {
  display: flex;
  justify-content: center;
}

.button {
  width: 40%;
  padding: 5px;
  border-radius: 80px;
  margin: 10px;
  color: #fff;
  background-color: #226089;
  font-family: 'Kanit', sans-serif;
  box-shadow: 5px 5px 8px #888888;
  text-align: center;
  text-decoration: none;
}

.box h2, .box p {
  margin: 10px;
  text-align: center;
}

/****************************** Tab Action ************************************/

.button:active {
  box-shadow: none;
}

.button:hover {
  cursor: pointer;
  background-color: #1f3c88;
}

/***************************** Media Query ************************************/

/* tablet */
@media (min-height: 1000px) {
  .box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    font-size: 16px;
  }

  button {
    font-size: 1.5vh;
    padding: 10px;
  }

}


/* phones */
@media (max-width: 900px) {
  .main-image {
    width: 100%;
  }

  .box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    font-size: 16px;
  }

  button {
    font-size: 2vw;
    padding: 10px;
  }


}
