




.dry-van {
  height: 30px;
  background-color: gray;
  font-size: 20px;
}

.submit-button {
  width: 10%;
  border-radius: 16px;
  padding: 5px;
  background-color: green;
  color: #fff;
}

.submit-button:hover {
  background-color: red;
  cursor: pointer;
}


.price-icon {
  float: left;
  background-color: gray;
}


.label {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  margin-right: 10px;
}

.input-box {
  width: 200%;
  border-radius: 5px;
  height: 15px;
  padding: 5px;
  margin: 10px 0;
}

@media (max-width: 450px) {
  .input-box {
    width: 100%;
  }
}

table {
  padding-left: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
}
