#contact-us {
  background-color: #10316b;
  color: #fff;
  font-family: 'Kanit', sans-serif;
}

h2 {
  width: 80%;
  margin: 0 auto;
}

.enclosed-container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


table {
  padding: 0;
}
