* {
  margin: 0;
  padding: 0;
}


.background-image {
  background-image: url('../img/background.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  /* width: 100%; */
}



/* .message-border {
  width: 100px;
  height: 100px;
  background-color: black;
  color: #fff;
} */
