* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: 100%;
  background-color: #10316b;
}

.nav-container {
  width: 80%;
  color: white;
  overflow: auto;
  margin: 0 auto;
}


.logo-container {
  float: left;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  padding: 20px;
}


.tab-container {
  float: right;
  padding: 20px;
}

.tab {
  float: left;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  margin-right: 30px;
}

.icon-container {
  overflow: auto;
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}

.drop-menu {
  overflow: auto;
}

.dropTab {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  margin: 20px;
  text-align: center;
}

/****************************** Tab Action ************************************/

.tab:hover, .dropTab:hover {
  color: green;
  cursor: pointer;
}

/***************************** Media Query ************************************/

/* when screen is on a computer */
@media (min-width: 850px) {
  .icon-container {
    display: none;
  }

  .drop-menu {
    display: none;
  }
}

/* when screen is on a phone */
@media (max-width: 850px) {
  .tab-container {
    display: none;
  }

  /* centering logo and hamburger icon */
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
